.fade {
    opacity:0;
    transition: .2s ease-in-out;
    pointer-events: none;
    height: 0;
    
    &.in{
        pointer-events: unset;
        opacity:1;
        height: unset;
    }
}

.c {
    &-pointer {
        cursor: pointer;
    }
}

.star {
    &-right {
        transform: translate(-20px, 0px) rotateY(180deg);
    }
}