@import '../../sass/config/colors.scss';

header {
    box-shadow: 0 9px 10px 0 rgba(204,204,204,.63);
    padding: 0 20px;
    margin-bottom: 20px;

    .logo {
        padding: 20px 0;
    }

    .favorites {
        display: flex;
        align-items: center;

        background-color: $color-01;
        cursor: pointer;

        a {
            color: $color-04;
            padding: 36px 20px;
        }
    }
}